main {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;

  h1 {
    font-size: 6rem;
  }
}
.container {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
.header {
  box-sizing: border-box;
  width: 100%;
  text-align: right;
  padding-right: 10px;
}
